/* Estilo geral do formulário */
form {
  background-color: #fdfdfd; /* Fundo verde claro */
  border: 2px solid #008000; /* Borda verde */
  border-radius: 5px;
  padding: 15px;
  width: 800px;
  font-family: Arial, sans-serif;
}

/* Estilo para os rótulos */
label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  width: 30%; /* Define uma largura fixa para alinhar com os inputs */
  text-align: left;
  background-color: #e9f8e8;
  padding: 8px;
}

/* Estilo para os campos de entrada */
input[type="text"] {
  width: 65%; /* Ajuste para ficar ao lado do label */
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Estilo para o botão de envio */
button {
  background-color: #04AA6D; /* Green */
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}

/* Efeito ao passar o mouse no botão */
button {
  background-color: #228b22; /* Verde mais escuro */
}

/* Ajuste de espaçamento interno nos rótulos e entradas */
div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
